<html>

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="../frontend.js"></script>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div id="main">
        <div id="layout">
            <div id="layout_left">
                <div class="nav-container">
                    <a class="nav-item" href="views/home.html">Home</a>
                    <a class="nav-item" href="views/profile.html">Profile</a>
                    <a class="nav-item" href="views/blog.html">Create Blog</a>
                    <a class="nav-item active" href="../index.html">Logout</a>
                </div>
            </div>
            <div id="layout_middle">
                <div class="auth-container">
                    <div>
                        <h1>Sign Up</h1>
                        <input type="text" id="username" placeholder="Username or Email"/>
                        <input type="text" id="fName" placeholder="First Name"/>
                        <input type="text" id="lName" placeholder="Last Name"/>
                        <input type="password" id="password" placeholder="Password" />
                        <input type="password" id="confirm-password" placeholder="Confirm Password" />
                        <button id="signup">Sign Up</button>
                    </div>
                </div>
            </div>
            <div id="layout_right"></div>
        </div>
    </div>
</body>

</html>