
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#main {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#layout {
    display: flex;
    height: 100%;
    box-sizing: border-box;
}

#layout_left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* background-color: azure; */
}

.nav-container {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.nav-item {
    font: bold 24px serif;
    line-height: 40px;
}

.nav-item:last-child {
    margin-top: auto;
    margin-bottom: 40px;
}

.nav-container > a {
    text-decoration: line-through;
    color: #000;
}

.nav-item.active {
    text-decoration: none;
    color:chocolate;
}

#layout_middle {
    flex: 2;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    /* background-color: darksalmon; */
}

#layout_right {
    flex: 1;
    /* background-color: palevioletred; */
}


.auth-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-container > div {
    display: flex;
    flex-direction: column;
}

.auth-container > div > input {
    padding: 5px 10px;
    font-size: 16px;
    font-style: italic bold;
    border-radius: 5px;
    border: 1px solid;
    margin-bottom: 10px;
    width: 300px;
    color: darkslategray;
    outline: none;
}

.auth-container > div > a {
    color:dodgerblue;
}

#login {
    border: none;
    background-color: cadetblue;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    width: 100px;
    margin: 15px auto 0px;
    font-size: 20px;
    line-height: 40px;
}

#login:active {
    background-color: crimson;
}